nav > ul > li:first-child {
    font-weight: bold;
}

nav > ul > li:last-child {
    font-weight: bold;
    font-style: italic;
}

nav > ul > li > a {
    text-decoration: none;
}

img {
    border: 0.8em solid red
}

section#services > h1 > span {
color: rgb(202, 65, 65);
}

h2{
    font-weight: 900;
}

h2::before{
    content: ">>";
    color: darkred;
    text-shadow: -0.5px 0, 0 0.5px, 0.5px 0, 0 -0.5px, -0.5px -0.5px, 0.5px 0.5px, -0.5px 0.5px, 0.5px -0.5px;

}

h2::after{
    content: "<<";
    text-shadow: -0.5px 0, 0 0.5px, 0.5px 0, 0 -0.5px, -0.5px -0.5px, 0.5px 0.5px, -0.5px 0.5px, 0.5px -0.5px;
    color: darkred;
}

section{
    display: flex;
    box-sizing: border-box;
    flex-direction: column;

}
section#services > p{
background-color: rgb(164, 215, 235);
}